<h1>Editing Course</h1>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>

<table>
  <tr>
    <td valign="top">
      <h4><%= @course.number %>-<%= @course.section %> <%= @course.name %></h4>
      <%= render 'form', course: @course %>
      <br><br>
    </td>
    <td width="100"></td>
    <td valign="top">
      <table>
        <tr>
          <td>
            <% if @course.user_id!=1 %>
              <h4><%= @course.user.full_name %> preference
              <% if @user_pref.empty? %> 
                NOT set
              <% end %>
              </h4>
              <div>
                <table class="table table-hover">
                  <tr>
                    <td></td>
                    <% @MWF.each do |mwf| %>
                      <td><%= format_time(mwf.from_time.to_s+"-"+mwf.to_time.to_s) %></td>
                    <% end %>
                    <% @MW.each do |mw| %>
                      <td><%= format_time(mw.from_time.to_s+"-"+mw.to_time.to_s) %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td>MWF</td>
                    <% @MWF.each do |mwf| %>
                      <% option = get_option(mwf) %>
                      <% if option[0]==1 %> <td  bgcolor="#CCFFCC"> <%elsif option[0] == 3%> <td  bgcolor="#FFCCCC"> <% else %> <td> <% end %>
                      <%= option[1] %></td>
                    <% end %>
                    <% @MW.each do%>
                      <td></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td>MW</td>
                    <% @MWF.each do%>
                      <td></td>
                    <% end %>
                    <% @MW.each do |mw| %>
                      <% option = get_option(mw) %>
                      <% if option[0]==1 %> <td  bgcolor="#CCFFCC"> <%elsif option[0] == 3%> <td  bgcolor="#FFCCCC"> <% else %> <td> <% end %>
                      <%= option[1] %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td height="20"></td>
                  </tr>
                  <tr>
                    <td>
                    <% @TR.each do |tr| %>
                      <td><%= format_time(tr.from_time.to_s+"-"+tr.to_time.to_s) %></td>
                    <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>TR</td>
                    <% @TR.each do |tr| %>
                      <% option = get_option(tr) %>
                      <% if option[0]==1 %> <td  bgcolor="#CCFFCC"> <%elsif option[0] == 3%> <td  bgcolor="#FFCCCC"> <% else %> <td> <% end %>
                      <%= option[1] %></td>
                    <% end %>
                  </tr>
                </table>
              </div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <h4>Room Availability</h4>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Building</th>
                  <th>Number</th>
                  <th>Capacity</th>
                  <th>Available time</th>
                </tr>
              </thead>
            
              <tbody>
                <% @rooms.each do |room| %>
                  <% if room.capacity >= @course.size %>
                    <tr>
                      <td><%= room.id %></td>
                      <td><%= room.building.name %></td>
                      <td><%= room.number %></td>
                      <td><%= room.capacity %></td>
                      <td><%= room_availability(room)%></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
