<table>
  <tr>
    <td valign="top">
      <h4><%= @course.number %>-<%= @course.section %> <%= @course.name %></h4>
      <%= render 'form', course: @course %>
      <br><br>
    </td>
    <td width="100"></td>
    <td valign="top">
      <table>
        <!-- room availability in table -->
        <tr>
          <td>
            <h4>Available Rooms</h4>
            <%= render './pages/timetable' %>
          </td>
        </tr>
        
        <!-- room availability in numbers -->
        <tr>
          <td>
            <h4>Room Availability</h4>
            <div class='row'>
              <div class="col-xs-9">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Number</th>
                      <th>Capacity</th>
                      <th>Available time</th>
                    </tr>
                  </thead>
                
                  <tbody>
                    <% @rooms.each do |room| %>
                      <% if room.capacity >= @course.size %>
                        <tr>
                          <td><b><%= room.id %></b></td>
                          <td><%= room.number %></td>
                          <td><%= room.capacity %></td>
                          <td>
                            <% ra = room_availability(room, @courses, @course) %>
                            <% if ra!=nil %>
                              <%= format_day_time(ra)%>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
