<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<div class='row'>
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Number</th>
          <th>Section</th>
          <th>Name</th>
          <th>Size</th>
          <th>Time</th>
          <th>Semester</th>
          <th>Room</th>
          <th>Faculty</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <% if !@courses.empty? %>
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.number %></td>
              <td><%= course.section %></td>
              <td><%= course.name %></td>
              <td><%= course.size %></td>
              <td>
                <% if course.time!=nil %> 
                  <% if !course.time.empty? %>
                    <%= day_time_display(course.time) %>
                  <% end %>
                <% end %>
              </td>
              <td><%= course.year %> <%= course.semester %></td>
              <td><% if course.room.id!=1 %><%= course.room.number %><% end %></td>
              <td><%= course.user.full_name if course.user.id !=1%></td>
              <td><%= link_to 'Schedule/Edit', edit_course_path(course), class:'btn btn-sm btn-default'  %></td>
              <td><%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-default'  %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Course', get_course_repo_path %>
