<h4>Add New Course to Course Repository</h4>

<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Number *" %>
    <%= f.text_field :number %>
  </div>


  <div class="field">
    <%= f.label "Name *" %>
    <%= f.text_field :name %>
  </div>
  
  <div class="actions">
    <%= f.submit "Add Class", class:'btn btn-default' %>
  </div>
<% end %>

<%= link_to 'Back', courses_path %>

<br><br><br><br>
<h4>Current course repository</h4>

<div class='row'>
  <div class="col-sm-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Delete</th>
        </tr>
      </thead>
    
      <tbody>
        <% if !@course_repo.empty? %>
          <% @course_repo.each do |course| %>
            <tr>
              <td><%= course.number %></td>
              <td><%= course.name %></td>
              <td><%= link_to 'Delete', delete_course_repo_path(:id=>course.id), data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-default' %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
