<div>
  <h5>Current faculty preference edit permission: <b><%=@faculty_permission.value%></b></h5><br><br>
</div>
<div>
<%= form_tag("/set_faculty_permission", method: "get") do %>
  <div class="actions">
    <% if @faculty_permission.value=="yes" %>
      <%= submit_tag("DISABLE faculty permission edit", class: 'btn btn-default' )%>
      <%= hidden_field_tag :fac_perm, "no" %>
    <% else %>
      <%= submit_tag("ENABLE faculty permission edit", class: 'btn btn-default' )%>
      <%= hidden_field_tag :fac_perm, "yes" %>
    <% end %>
  </div>
<% end %>
</div>