<%= form_tag("/set_current_semester", method: "get") do %>
  <%= label_tag(:scheduling_year, "Year") %>
  <%= number_field_tag(:year) %>
  <%= label_tag(:scheduling_semester, "Semester") %>
  <%= text_field_tag(:semester) %>
  <div>
    <%= submit_tag("Update") %>
  </div>
<% end %>