<div class='row'>
  <div class="col-lg-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="150"></th>
          <% @rooms.each do |room| %>
            <th> <%= room.number %> [<%= room.capacity %>] </th> 
          <% end %>
        </tr>
      </thead>
    
      <tbody>
        <% @timeslots.each do |ts| %>
          <tr>
            <td><%= ts.day %> <%= format_time(ts.from_time.to_s+"-"+ts.to_time.to_s) %></td>
            <%= render 'content', mtwrf: ts %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>