<div class='row'>
  <div class="col-lg-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="150"></th>
          <% @rooms.each do |room| %>
            <th> <%= room.number %> [<%= room.capacity %>] </th> 
          <% end %>
        </tr>
      </thead>
    
      <tbody>
        <% @MWF.each do |mwf| %>
          <tr>
            <td>MWF <%= format_time(mwf.from_time.to_s+"-"+mwf.to_time.to_s) %></td>
            <%= render 'content', mtwrf: mwf %>
          </tr>
        <% end %>
        <tr><td bgcolor="#cccccc"></td></tr>
        <% @MW.each do |mw| %>
          <tr>
            <td>MW <%= format_time(mw.from_time.to_s+"-"+mw.to_time.to_s) %></td>
            <%= render 'content', mtwrf: mw  %>
          </tr>
        <% end %>
        <tr><td bgcolor="#cccccc"></td></tr>
        <% @TR.each do |tr| %>
          <tr>
            <td>TR <%= format_time(tr.from_time.to_s+"-"+tr.to_time.to_s) %></td>
            <%= render 'content', mtwrf: tr  %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>