<br><br>
<div class="row" >
  <div class="col-sm-3">
    <dl>
      <dt align="center">Resources</dt>
      <dd vspcae="30"><%= link_to 'Add faculty', new_user_path, class:'btn btn-sm btn-default btn-block' %></dd>
      <dd><%= link_to 'Add room', new_room_path, class:'btn btn-sm btn-default  btn-block'  %></dd>
      <dd><%= link_to 'Add course', get_course_repo_path, class:'btn btn-sm btn-default  btn-block'  %></dd>
      <dd><%= link_to 'Course repository',  new_course_path, class:'btn btn-sm btn-default  btn-block' %></dd>
    </dl>
  </div>
  <div class="col-sm-3">
    <dl align="center">
      <dt>Schedule Courses</dt>
      <dd><%= link_to 'Schedule courses', courses_path, class:'btn btn-sm btn-default btn-block'  %></dd>
      <dd><%= link_to 'View by faculty', assignment_by_faculty_path, class:'btn btn-sm btn-default btn-block'  %></dd>
    </dl>
  </div>

  <div class="col-sm-3">
    <dl align="center">
      <dt>Faculty Preference Settings</dt>
      <dd><%= link_to "Set faculty edit permission", faculty_edit_permission_path, class:'btn btn-sm btn-default btn-block'  %></dd>
      <dd><%= link_to "Reset faculty preferences", reset_faculty_preference_path, class:'btn btn-sm btn-default btn-block'  %></dd>
      <dd><%= link_to 'Set preference limits', preference_limits_path, class:'btn btn-sm btn-default btn-block'  %></dd>
    </dl>
  </div>
</div>