<div class="row">
  <div class="col-sm-2">
    <dl>
      <dt>Courses</dt>
      <dd><%= link_to 'Add course', new_course_path %></dd>
      <dd><%= link_to 'Course list', courses_path %></dd>
    </dl>
  </div>
  <div class="col-sm-2">
    <dl>
      <dt>Faculty</dt>
      <dd><%= link_to 'Add faculty', new_user_path %></dd>
      <dd><%= link_to 'Faculty list', users_path %></dd>
    </dl>
  </div>
  <div class="col-sm-2">
    <dl>
      <dt>Rooms</dt>
      <dd><%= link_to 'Add building', new_building_path %></dd>
      <dd><%= link_to 'Building list', buildings_path %></dd>
      <dd><%= link_to 'Add room', new_room_path %></dd>
      <dd><%= link_to 'Room list', rooms_path %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <dl>
      <dt>Time Slots</dt>
      <dd><%= link_to 'Add Time Slots', new_timeslot_path %></dd>
      <dd><%= link_to 'Time Slot list', timeslots_path %></dd>
    </dl>
  </div>
  <div class="col-sm-2">
    <dl>
      <dt>Placeholder</dt>
      <dd><%= link_to 'Add Placeholder', new_user_path %></dd>
      <dd><%= link_to 'Placeholder list', users_path %></dd>
    </dl>
  </div>
  <div class="col-sm-2">
    <dl>
      <dt>Placeholder</dt>
      <dd><%= link_to 'Add Placeholder', new_user_path %></dd>
      <dd><%= link_to 'Placeholder list', users_path %></dd>
    </dl>
  </div>
</div>