<div class="row">
  <div class="col-sm-2">
    <dl>
      <dt>Courses</dt>
      <dd><%= link_to 'Add course', new_user_path %></dd>
      <dd><%= link_to 'Course list', users_path %></dd>
    </dl>
  </div>
  <div class="col-sm-2">
    <dl>
      <dt>Faculty</dt>
      <dd><%= link_to 'Add faculty', new_user_path %></dd>
      <dd><%= link_to 'Faculty list', users_path %></dd>
    </dl>
  </div>
  <div class="col-sm-2">
    <dl>
      <dt>Rooms</dt>
      <dd><%= link_to 'Add building', new_user_path %></dd>
      <dd><%= link_to 'Building list', users_path %></dd>
      <dd><%= link_to 'Add room', new_user_path %></dd>
      <dd><%= link_to 'Room list', users_path %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <dl>
      <dt>Courses</dt>
      <dd><%= link_to 'Add course', new_user_path %></dd>
      <dd><%= link_to 'Course list', users_path %></dd>
    </dl>
  </div>
  <div class="col-sm-2">
    <dl>
      <dt>Faculty</dt>
      <dd><%= link_to 'Add faculty', new_user_path %></dd>
      <dd><%= link_to 'Faculty list', users_path %></dd>
    </dl>
  </div>
  <div class="col-sm-2">
    <dl>
      <dt>Rooms</dt>
      <dd><%= link_to 'Add building', new_user_path %></dd>
      <dd><%= link_to 'Building list', users_path %></dd>
      <dd><%= link_to 'Add room', new_user_path %></dd>
      <dd><%= link_to 'Room list', users_path %></dd>
    </dl>
  </div>
</div>