<%= render 'timetable' %>

<div class='row'>
  <div class="col-xs-9">
    <h3>Not Assigned Room </h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Actions</th>
          <th>Number</th>
          <th>Section</th>
          <th>Name</th>
          <th>Size</th>
          <th>Time</th>
          <th>Faculty</th>
        </tr>
      </thead>
    
      <tbody>
        <% unassigned_courses = get_unassigned_courses %>
        <% if !unassigned_courses.empty? %>
          <% unassigned_courses.each do |course| %>
            <tr>
              <td><%= link_to 'Assign', edit_course_path(course), class: 'btn btn-sm btn-default' %></td>
              <td><%= course.number %></td>
              <td><%= course.section %></td>
              <td><%= course.name %></td>
              <td><%= course.size %></td>
              <td>
                <% if course.time!=nil %> 
                  <% if !course.time.empty? %>
                    <%= day_time_display(course.time) %>
                  <% end %>
                <% end %>
              </td>
              <td><%= course.user.full_name if course.user.id !=1%></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>