<div class='row'>
  <div class="col-sm-8">
    <h3>View Course Assignment</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="150"></th>
          <% @rooms.each do |room| %>
            <th> <%= room.building.name %> <%= room.number %> [<%= room.capacity %>] </th> 
          <% end %>
        </tr>
      </thead>
    
      <tbody>
        <% @MWF.each do |mwf| %>
          <tr>
            <td>MWF <%= format_time(mwf.from_time.to_s+"-"+mwf.to_time.to_s) %></td>
            <% @rooms.each do |room| %>
              <% course = get_course(room, mwf) %>
              <% preference = get_preference(course, mwf) %>
              <% if preference == 1 %> <td bgcolor="#CCFFCC"> <% elsif preference == 3 %> <td bgcolor="#FFCCCC"> <% else %> <td> <% end %>
              <% if course != nil %> 
                <% @assigned_courses << course %>
                <%= link_to course.number, edit_course_path(course) %> 
                <% if course.user_id!=1 %>
                  <%= course.user.full_name %>
                <% end %>
                <br>size: <%= course.size %>
              <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
        <tr><td bgcolor="#cccccc"></td></tr>
        <% @MW.each do |mw| %>
          <tr>
            <td>MW <%= format_time(mw.from_time.to_s+"-"+mw.to_time.to_s) %></td>
            <% @rooms.each do |room| %>
              <% course = get_course(room, mw) %>
              <% preference = get_preference(course, mw) %>
              <% if preference == 1 %> <td bgcolor="#CCFFCC"> <% elsif preference == 3 %> <td bgcolor="#FFCCCC"> <% else %> <td> <% end %>
              <% if course != nil %> 
                <% @assigned_courses << course %>
                <%= link_to course.number, edit_course_path(course) %> 
                <% if course.user_id!=1 %>
                  <%= course.user.full_name %>
                <% end %>
                <br> size:<%= course.size %>
              <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
        <tr><td bgcolor="#cccccc"></td></tr>
        <% @TR.each do |tr| %>
          <tr>
            <td>TR <%= format_time(tr.from_time.to_s+"-"+tr.to_time.to_s) %></td>
            <% @rooms.each do |room| %>
              <% course = get_course(room, tr) %>
              <% preference = get_preference(course, tr) %>
              <% if preference == 1 %> <td bgcolor="#CCFFCC"> <% elsif preference == 3 %> <td bgcolor="#FFCCCC"> <% else %> <td> <% end %>
              <% if course != nil %> 
                <% @assigned_courses << course %>
                <%= link_to course.number, edit_course_path(course) %> 
                <% if course.user_id!=1 %>
                  <%= course.user.full_name %>
                <% end %>
                <br> size:<%= course.size %>
              <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>




<div class='row'>
  <div class="col-sm-8">
    <h3>Not Assigned Room </h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Actions</th>
          <th>Number</th>
          <th>Section</th>
          <th>Name</th>
          <th>Size</th>
          <th>Time</th>
          <th>Faculty</th>
        </tr>
      </thead>
    
      <tbody>
        <% unassigned_courses = get_unassigned_courses %>
        <% if !unassigned_courses.empty? %>
          <% unassigned_courses.each do |course| %>
            <tr>
              <td><%= link_to 'Assign', edit_course_path(course), class: 'btn btn-sm btn-default' %></td>
              <td><%= course.number %></td>
              <td><%= course.section %></td>
              <td><%= course.name %></td>
              <td><%= course.size %></td>
              <td>
                <% if course.time!=nil %> 
                  <% if !course.time.empty? %>
                    <%= day_time_display(course.time) %>
                  <% end %>
                <% end %>
              </td>
              <td><%= course.user.full_name if course.user.id !=1%></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>