<h3 align="center"><%= @user.full_name %></h3>

<% if @faculty_permission.value=="yes" %>
  <%= form_for(@user, :html =>{class: "form-horizontal", role: "form"}) do |f| %>
    <div class="well col-xs-10 col-xs-offset-2">
      <h4>Maximum "unacceptable" time slot is limited to: <%= @unacceptable_time_slot_limit.value%></h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="100px"> </th>
            <% @days.each do |day| %>
              <th  width="100px"> <%= day.value %> </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @times.each do |time| %>
            <tr>
              <td><%= format_time(time) %><br></td>
              <% @days.each do |day| %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
  <h1>only view</h1>
<% end %>

<div align="center" class="col-xs-offset-2">
  <strong><%= link_to 'Edit profile', edit_user_path(@user) %></strong>
</div>

<div align="center" class="col-xs-offset-2">
  <%= debug(params) if Rails.env.development? %>
</div>