<h3 align="center"><%= @user.full_name %></h3>
<div align="center">
  <%= link_to 'Edit profile', edit_user_path(@user), class: 'btn btn-default btn-sm'%>
</div><br><br>

<div class="col-xs-7 col-xs-offset-1">
  <% if !@courses.empty? %>
    <h4>Assigned courses:</h4>
    <table class="table table-striped">
      <th>Number</th>
      <th>Name</th>
      <th>Section</th>
      <th>Size</th>
      <th>Room</th>
      <th>Time</th>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.number %></td>
          <td><%= course.name %></td>
          <td><%= course.section %></td>
          <td><%= course.size %></td>
          <td><%= course.room.building.name %> <%= course.room.number %></td>
          <td>
            <% if course.time!=nil %> 
              <% if !course.time.empty? %>
                <%= day_time_display(course.time) %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>


<%= form_tag("/set_preference", method: "get") do %>
  <%= hidden_field_tag :id, @user.id %>
  <div class="col-xs-7 col-xs-offset-1">
    <h4>Preferences:</h4>
    <b>P</b>:preferred  <b>A</b>:acceptable  <b>U</b>:unacceptable <br>
    Maximum "unacceptable" time slots: <b><%= @unacceptable_time_slot_limit.value%></b> <br>
    Maximum "preferred" time slots: <b><%= @preferred_time_slot_limit.value%></b> <br>
    <table class="table table-striped">
      <% if @user_pref.empty? %>
        <tr>
          <td></td>
          <% @MWF.each do |mwf| %>
            <td><%= format_time(mwf.from_time.to_s+"-"+mwf.to_time.to_s) %></td>
          <% end %>
          <% @MW.each do |mw| %>
            <td><%= format_time(mw.from_time.to_s+"-"+mw.to_time.to_s) %></td>
          <% end %>
        </tr>
        <tr>
          <td>MWF</td>
          <% @MWF.each do |mwf| %>
            <% if @faculty_permission.value=="yes" %>
              <td><%= select_tag("prf-MWF-#{mwf.from_time}-#{mwf.to_time}".to_sym, options_for_select([['P',1], ['A',2], ['U', 3]], 2)) %> </td>
            <% else %>
              <td>A</td>
            <% end %>
          <% end %>
          <% @MW.each do%>
            <td></td>
          <% end %>
        </tr>
        <tr>
          <td>MW</td>
          <% @MWF.each do%>
            <td></td>
          <% end %>
          <% @MW.each do |mw| %>
            <% if @faculty_permission.value=="yes" %>
              <% if mw.from_time > 1700 %>
                <td bgcolor="#FFCCCC"><%= select_tag("prf-MW-#{mw.from_time}-#{mw.to_time}".to_sym, options_for_select([['P',1], ['A',2], ['U', 3]], 3)) %> </td>
              <%else%>
                <td><%= select_tag("prf-MW-#{mw.from_time}-#{mw.to_time}".to_sym, options_for_select([['P',1], ['A',2], ['U', 3]], 2)) %> </td>
              <% end %>
            <% else %>
              <% if mw.from_time > 1700 %>
                <td bgcolor="#FFCCCC"> U </td>
              <%else%>
                <td>A</td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <td height="30"></td>
        </tr>
        <tr>
          <td>
          <% @TR.each do |tr| %>
            <td><%= format_time(tr.from_time.to_s+"-"+tr.to_time.to_s) %></td>
          <% end %>
          </td>
        </tr>
        <tr>
          <td>TR</td>
          <% @TR.each do |tr| %>
            <% if @faculty_permission.value=="yes" %>
              <% if tr.from_time > 1700 %>
                <td bgcolor="#FFCCCC"><%= select_tag("prf-TR-#{tr.from_time}-#{tr.to_time}".to_sym, options_for_select([['P',1], ['A',2], ['U', 3]], 3)) %> </td>
              <% else %>
                <td><%= select_tag("prf-TR-#{tr.from_time}-#{tr.to_time}".to_sym, options_for_select([['P',1], ['A',2], ['U', 3]], 2)) %> </td>
              <% end %>
            <% else %>
              <% if tr.from_time > 1700 %>
                <td bgcolor="#FFCCCC"> U </td>
              <%else%>
                <td>A</td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% else %>
      
      
      
        <tr>
          <td></td>
          <% @MWF.each do |mwf| %>
            <td><%= format_time(mwf.from_time.to_s+"-"+mwf.to_time.to_s) %></td>
          <% end %>
          <% @MW.each do |mw| %>
            <td><%= format_time(mw.from_time.to_s+"-"+mw.to_time.to_s) %></td>
          <% end %>
        </tr>
        <tr>
          <td>MWF</td>
          <% @MWF.each do |mwf| %>
            <% option = get_option(mwf) %>
            <% if @faculty_permission.value=="yes" %>
              <% if option[0]==1 %> <td  bgcolor="#CCFFCC"> <%elsif option[0] == 3%> <td  bgcolor="#FFCCCC"> <% else %> <td> <% end %>
              <%= select_tag("prf-MWF-#{mwf.from_time}-#{mwf.to_time}".to_sym, options_for_select([['P',1], ['A',2], ['U', 3]], option[0])) %> </td>
            <% else %>
              <% if option[0]==1 %> <td  bgcolor="#CCFFCC"> <%elsif option[0] == 3%> <td  bgcolor="#FFCCCC"> <% else %> <td> <% end %>
              <%= option[1] %></td>
            <% end %>
          <% end %>
          <% @MW.each do%>
            <td></td>
          <% end %>
        </tr>
        <tr>
          <td>MW</td>
          <% @MWF.each do%>
            <td></td>
          <% end %>
          <% @MW.each do |mw| %>
            <% option = get_option(mw) %>
            <% if @faculty_permission.value=="yes" %>
              <% if option[0]==1 %> <td  bgcolor="#CCFFCC"> <%elsif option[0] == 3%> <td  bgcolor="#FFCCCC"> <% else %> <td> <% end %>
              <%= select_tag("prf-MW-#{mw.from_time}-#{mw.to_time}".to_sym, options_for_select([['P',1], ['A',2], ['U', 3]], option[0])) %> </td>
            <% else %>
              <% if option[0]==1 %> <td  bgcolor="#CCFFCC"> <%elsif option[0] == 3%> <td  bgcolor="#FFCCCC"> <% else %> <td> <% end %>
             <%= option[1] %></td>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <td height="30"></td>
        </tr>
        <tr>
          <td>
          <% @TR.each do |tr| %>
            <td><%= format_time(tr.from_time.to_s+"-"+tr.to_time.to_s) %></td>
          <% end %>
          </td>
        </tr>
        <tr>
          <td>TR</td>
          <% @TR.each do |tr| %>
            <% option = get_option(tr) %>
            <% if @faculty_permission.value=="yes" %>
                <% if option[0]==1 %> <td  bgcolor="#CCFFCC"> <%elsif option[0] == 3%> <td  bgcolor="#FFCCCC"> <% else %> <td> <% end %>
                <%= select_tag("prf-TR-#{tr.from_time}-#{tr.to_time}".to_sym, options_for_select([['P',1], ['A',2], ['U', 3]], option[0])) %> </td>
            <% else %>
              <% if option[0]==1 %> <td  bgcolor="#CCFFCC"> <%elsif option[0] == 3%> <td  bgcolor="#FFCCCC"> <% else %> <td> <% end %>
              <%= option[1] %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
    <% if @faculty_permission.value=="yes" %>
      <%= submit_tag("Update preferences", class: 'btn btn-default' )%>
    <% else %>
      <%= submit_tag("View Only", disabled: true, class: 'btn btn-default' )%> 
    <% end %>
  </div>
<% end %>
