<h3 align="center"><%= @user.full_name %></h3>
<div align="center">
  <%= link_to 'Edit profile', edit_user_path(@user), class: 'btn btn-default btn-sm'%>
</div><br><br>

<div class="col-xs-7 col-xs-offset-1">
  <% if !@courses.empty? %>
    <h4>Assigned courses:</h4>
    <table class="table table-striped">
      <th>Number</th>
      <th>Name</th>
      <th>Section</th>
      <th>Size</th>
      <th>Room</th>
      <th>Time</th>
      <% @courses.each do |course| %>
        <% if course.year == current_year.to_i && course.semester==current_semester %>
          <tr>
            <td><%= course.number %></td>
            <td><%= course.name %></td>
            <td><%= course.section %></td>
            <td><%= course.size %></td>
            <td><%= course.room.number %></td>
            <td>
              <% if course.time!=nil %> 
                <% if !course.time.empty? %>
                  <%= day_time_display(course.time) %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
</div>


<%= form_tag("/set_preference", method: "get") do %>
  <%= hidden_field_tag :id, @user.id %>
  <div class="col-xs-7 col-xs-offset-1">
    <br><br>
    <h4>Preferences:</h4>
    <b>P</b>:preferred  <b>A</b>:acceptable  <b>U</b>:unacceptable <br>
    Maximum "preferred" time slots: <b><%= @preferred_time_slot_limit.value%></b> <br>
    Maximum "unacceptable" time slots: <b><%= @unacceptable_time_slot_limit.value%></b> <br><br>
    <div class="well">
      <table class="table table-striped">
          <% @days.each do |day| %>
            <tr>
              <td><b><%= day %></b></td>
              <% @timeslots.each do |ts| %>
                <% if day == ts.day %>
                  <% option = get_option(ts) %>
                    <% if @faculty_permission.value=="yes" %>
                        <% if option[0]==1 %> <td  bgcolor="#CCFFCC"> <%elsif option[0] == 3%> <td  bgcolor="#FFCCCC"> <% else %> <td> <% end %>
                        <%= format_time(ts.from_time.to_s+"-"+ts.to_time.to_s) %>
                        <%= select_tag("prf-#{day}-#{ts.from_time}-#{ts.to_time}".to_sym, options_for_select([['P',1], ['A',2], ['U', 3]], option[0])) %>
                    <% else %>
                      <% if option[0]==1 %> <td  bgcolor="#CCFFCC"> <%elsif option[0] == 3%> <td  bgcolor="#FFCCCC"> <% else %> <td> <% end %>
                      <%= format_time(ts.from_time.to_s+"-"+ts.to_time.to_s) %>
                      <%= option[1] %>
                    <% end %>
                    </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
      </table>
    </div>
    <% if @faculty_permission.value=="yes" %>
      <%= submit_tag("Update preferences", class: 'btn btn-primary' )%>
    <% else %>
      <%= submit_tag("View Only", disabled: true, class: 'btn btn-default' )%> 
    <% end %>
  </div>
<% end %>
