<h3 align="center"><%= @user.full_name %></h3>
<div align="center">
  <%= link_to 'Edit profile', edit_user_path(@user), class: 'btn btn-default btn-sm'%>
</div>

<% if @faculty_permission.value=="yes" %>
  <%= form_tag("/users", method: "get") do %>
    <div class="well col-xs-12 col-xs-offset-1">
      <h4>Maximum "unacceptable" time slot is limited to: <%= @unacceptable_time_slot_limit.value%></h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="100px"> </th>
            <% @days.each do |day| %>
              <th  width="100px"> <%= day.value %> </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @times.each do |time| %>
            <tr>
              <td><%= format_time(time) %><br></td>
              <% @days.each do |day| %>
                <td><%= select_tag("#{day.value}-#{time.value}".to_sym, options_for_select([['Preferred',1], ['Acceptable',2], ['Unacceptable', 3]],2)) %> </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= submit_tag("Update preferences", class: 'btn btn-default' )%>
    </div>
  <% end %>
<% else %>
  <h1>only view</h1>
<% end %>

<br><br><br>
<div align="center" class="col-xs-offset-2">
  <%= debug(params) if Rails.env.development? %>
</div>



  
