<%= render 'shared/errors', obj: room %>
<%= form_for(room) do |f| %>
  <div class="field">
    <%= f.label "building" %>
    <%= f.select :building_id, options_for_select(@buildings) %>
  </div>
  
  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
