<%= render 'shared/errors', obj: room %>
<%= form_for(room) do |f| %>
  <div class="field">
    <%= f.label "number *" %>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label "capacity *" %>
    <%= f.number_field :capacity %>
  </div>
  
  <div class="field">
    <%= f.label "available time" %>
    example: <br>
    MTWRF-800-2100,<br>
    TR-1000-1700,<br>
    MW-800-1500<br>
    <%= f.text_area :available_time, rows: 6 %>
  </div>

  <div class="actions">
    <%= f.submit class:'btn btn-default' %>
  </div>
<% end %>
