<p id="notice"><%= notice %></p>

<p>
  <strong>Building:</strong>
  <%= @room.building.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @room.number %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @room.capacity %>
</p>

<p>
  <strong>Available time:</strong>
  <% if @times != nil %>
    <% dts = format_day_time(@times) %>
    <%= dts.each { |dt| "#{dt} | " }%>
  <% end %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
